gradlew linguist-language=Shell
gradlew text eol=lf
gradlew.bat text eol=crlf
*.java text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.xml text eol=lf
